!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, minimum-scale=1, maximum-scale=1" }
    %title Responsive
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    #container
      #main-outer.clearfix
        = render 'header'

        #main
          #main-inner.clearfix
            #content
              = yield
            #sidebar
              = render 'sidebar'

  %script{ :src => "https://use.fontawesome.com/d3a80f4dab.js" }
  = javascript_include_tag 'application'
